

<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	
	<title>Landing Page</title>

	<link rel="stylesheet" type="text/css" href="{% static 'css/1.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/1.css' %}">
</head>

<body >
<div style="height: 80px; background-color: #eee7e7">
	<div> 

		<div style="font-size: 35px; color: #7e320d; padding-top: 15px; padding-left: 65%; font-family: Calibri 		light; font-weight: bold;">
					About us
		</div>
		
		<div style="margin-top: -45px; margin-left: 80%"> <button style="border-radius: 50px; height: 50px; width: 100px; outline: none; color: 7e320d; font-size: 20px; border-color: yellow"> Login </button> 


		</div> 
			
	</div>
	<div style=" background-image: url({% static 'images/bg.png' %}); margin-top: 19px;width: 100%; height: 700%; "> 
		

		<div style="color: white; font-size: 50px; font-family: Calibri light; font-weight: bold; "> 
				<center style="padding-top: 10%" >Exclusive Research Assistant </center>
				<center> for Teknoys</center>
		</div>

		<center >
			<div class="search" >
				<input type="text" name="" style="background-color: #efefef; width: 85%; height: 32px; margin-top: 4px;  float: left; margin-left: 10px; border-color: white; outline: none; border-top-left-radius: 20px 20px; border-bottom-left-radius: 20px 20px" placeholder="Search..."> 
				
				
			</div>
		</center>

	</div>

	



</div>
</body>
</html>

