

<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	
	<title>Search Results</title>

	<link rel="stylesheet" type="text/css" href="{% static 'css/1.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/2.css' %}">
	<!--<img src="{% static 'images/teralogo.png' %}" width="90px" alt="TERA Logo">-->

</head>

<body class="bg">

<nav class="navigation-bar">
    <img class="logo" src="{% static 'images/teralogo.png' %}">
    <a style="font-size: 20px; color: #7e320d; font-family: arial; padding-left: 40%">Citations</a>
    <a style="font-size: 20px; color: #7e320d; font-family: arial; ">Grammar Check</a>
    <a style="font-size: 20px; color: #7e320d; font-family: arial; ">Plagiarism Check</a>
    <a style="font-size: 20px; color: #7e320d; font-family: arial; "><img src="{% static 'images/user.jpg' %}" width="30px" alt="User Icon"></a>   
</nav>

<!--<nav class = "navbar-style">
<div style="height: 60px; background-color: #fff">

	<div class="container">
  <div class="row">
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>
</div>

	<ul>
		<li>
			<div style="padding-left: 5%" >
			<img src="{% static 'images/teralogo.png' %}" width="60px" alt="TERA Logo">
			</div>
		</li>
		<li>
		<div style="font-size: 20px; color: #7e320d;  padding-left: 500px; font-family: arial; ">
					Citations
		</div>
	</li>
	<li>
		<div style="font-size: 20px; color: #7e320d;  padding-left: 50px; font-family: arial; ">
					Grammar Check
		</div>
	</li>
	<li>
		<div style="font-size: 20px; color: #7e320d;  padding-left: 50px; font-family: arial; ">
					Plagiarism Check
		</div>
	</li>
	<li>
		<div style="font-size: 20px; color: #7e320d;  padding-left: 50px; font-family: arial; ">
					<img src="{% static 'images/user.jpg' %}" width="30px" alt="User Icon">
		</div>
	</li>
</ul>
</div>
			
	
</nav>
	
		
		 

		<div style="color: white; font-size: 50px; font-family: arial; font-weight: bold; paddin"> 
				<center style="padding-top: 20%" >Exclusive Research Assistant </center>
				<center> for Teknoys</center>
		</div>

		<center >
			<div class="search" >
				<input type="text" name="" style="background-color: #efefef; width: 85%; height: 32px; margin-top: 4px;  float: left; margin-left: 10px; border-color: white; outline: none; border-top-left-radius: 20px 20px; border-bottom-left-radius: 20px 20px" placeholder="Search..."> 
				
				
			</div>
		</center>

	</div>

	



</div>
-->
</body>
</html>

