{% load static %}

{% block headerinclude %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Collections</title>
  <link rel="shortcut icon" href="{% static 'images/teralogo.png' %}">
   <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    
    <!-- <link rel="stylesheet" href="{% static 'css/navbarstyle.css' %}"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/abb9521de4.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
     
    <style>
table {
  border-spacing: 2;
  width: 100%;
  border: 0px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}

/*tr:nth-child(even) {
  background-color: #f2f2f2

}*/
tr:hover {
  background-color: #c4c4c4

}

+.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100%;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.folder_dropdown_style{
  padding-left: 20%
}

</style>
</head>
{% endblock headerinclude %}


<body style="background-color: #f3f3f3">
   <nav >
      <div class="logo"><a href="{% url 'ra:index_view'%}"><img class="logo-style" src="{% static 'images/teralogo.png' %}"></a></div>
      
      <ul>     
      <li id="myAccount">   

                
                <a href="#" style="color: #8f2929">My Account <i class="fa fa-user" aria-hidden="true"></i></a>
                
                <ul style="z-index: 1">
                <li><a href="{% url 'ra:search_result_view' %}">Search</a></li>  
                  <li><a href="{% url 'ra:tera_account_settings' %}">Settings</a></li>  
                <li>
                  <form  action = "" method = "POST" autocomplete = "off" enctype="multipart/form-data">
                    {% csrf_token %}
                    <button type="submit" class="btn " name="btnLogout" style="background-color: white"> &nbsp;Logout </button>
                  </form>
                </li>
                </ul>
      </li>

        </ul>
<!-- The Modal -->
                  <div class="modal fade" id="addtoFolderModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header text-center">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"  style=“color: yellow”; >
                          <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="modal-body mx-3">
                        <div class="md-form mb-5">
                      
                         <center> 
                       
                          {% csrf_token %}
                            <p style="font-size: 25px; color: #800000">Create New Collection</p>
                            
                            
                            
                            <input type="text" placeholder="Enter Collection Name" style="width: 80%" id="foldername_input" value="My collection" required>
                           <br><br><br>
                       
                   
                        <center>
                              <div class="form-row">
                                <div class="form-group col-md-6">
                                <button type=“button” class="buttoncancel" data-dismiss="modal">Cancel</button>
                                </div>
                              
                                <div class="form-group col-md-6"> 
                                    <button type="submit" name="buttonLogin"class="buttonlogout"  data-dismiss="modal" onclick="create_folder('folders')"> Create</button>
                                </div> 
                         </div>
                      </center>
                      
                      </center>
                    </div></div>
                      </div>
                      
                  </div>
                </div>
                </div>

                 <!-- Collab Modal -->
                  <div class="modal fade" id="addtoGroupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header text-center">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"  style=“color: yellow”; >
                          <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="modal-body mx-3">
                        <div class="md-form mb-5">
                      
                         <center> 
                       
                       
                            <p style="font-size: 25px; color: #800000">Create Collaboration Group</p>
                            
                            
                            
                            <input type="text" placeholder="Enter Collection Name" style="width: 80%" id="groupname_input" value="My group" required>
                           <br><br><br>
                       
                   
                        <center>
                              <div class="form-row">
                                <div class="form-group col-md-6">
                                <button type=“button” class="buttoncancel" data-dismiss="modal">Cancel</button>
                                </div>
                                
                                <div class="form-group col-md-6"> 
                                    <button type="submit" name="buttonLogin"class="buttonlogout"  data-dismiss="modal" onclick="create_folder('groups')"> Create</button>
                                </div> 
                         </div>
                      </center>
                      
                      </center>
                    </div></div>
                      
                      </div>
                    </div>

                  </div>
                  </div>  
    
  </nav>


  <div class="container-fluid" style="position: fixed">
  <div class="row">
    <div class="col-sm-2">
      <div class="main-menu" style="border-right:2px #800000 solid;">
        <ul>
            <section class="home">
                <li id="all" class="menu-item" onclick="showRows(this.id)" ><i id="allIcon" class="fa fa-bookmark"></i> &nbsp; &nbsp; &nbsp; &nbsp;All References</li>
                <li id="recentlyAdded" class="menu-item" onclick="showRows(this.id)" ><i id="recentlyAddedIcon" class="fa fa-history"></i>&nbsp; &nbsp;&nbsp; &nbsp; Recently Added</li>
                <li id="recentlyRead" class="menu-item" onclick="showRows(this.id)" ><i id="recentlyReadIcon" class="fa fa-bookmark"></i>&nbsp; &nbsp;&nbsp; &nbsp; Recently Read</li>
                <li id="favorite" class="menu-item" onclick="showRows(this.id)" ><i id="favoriteIcon" class="fa fa-star"></i>&nbsp; &nbsp; &nbsp; &nbsp;Favorites</li>
                <li id="trash" class="menu-item" onclick="showRows(this.id)"><i id="trashIcon" class="fa fa-trash" ></i>&nbsp; &nbsp; &nbsp; &nbsp;Trash</li>

                                                                                                                       <!-- onclick="display_folder('collections')" -->
                <li id="collections" class="collapsible menu-item" onclick="display_dropdown('folders')"><i class="fa fa-folder"></i>&nbsp; &nbsp;&nbsp; &nbsp;  <b >My Collections </b> <button  style="font-size: 140%;border: solid #f1f1f1; color: red; font-weight:bold; margin-left: 17%" name="addfolder" href="#addtoFolderModal" data-toggle='modal' data-target='#addtoFolderModal'>  +</button></li> 
                
                    <ul id="mycollection_ul" style="display: none">
                      
                    </ul>
                               
                <li id="groups" class="collapsible menu-item" onclick="display_dropdown('groups')"><i class="fa fa-folder"></i>&nbsp; &nbsp;&nbsp; &nbsp;  <b>Private Groups </b> <button  style="font-size: 140%;border: solid #f1f1f1; color: red; font-weight:bold; margin-left: 16%" name="addgroup" href="#addtoFoldaddtoGroupModalerModal" data-toggle='modal' data-target='#addtoGroupModal'> + </button></li> 
                
                    <ul id="mygroup_ul" style="display: none">
                      
                    </ul>
              <div>
                  
                </div>
                
                <!-- </li> -->
               </section>             
        </ul>
      </div>
    </div>

    <div class="col-sm-7" style="border-right: solid #800000 2px;   overflow-y: scroll;  height: 90vh">
      <div class="wrapper">
       <div class="main_content">
          <div class="header" >
           <i  onclick="add_folder_button()" class='fa fa-plus' style='cursor:pointer; font-size: 80%'></i>
           <center>
                         <div id="dropdown-content_input" class='dropdown-content' style='min-width: 20%; margin-left: 5%; margin-top: -1%; z-index: 5 '>
                         <ul id='add_folder_fillup_ul'>
                     <br>
                             <input type="text" name="foldername_input"> <input type="button" name="" value="add">
                             
                          </ul> </div></center>
                  
                <br> 
              
                   <table id="itemTable"  class="table">
                    <thead>
                      
                        <th >Site</th>
                        <th onclick="sort(1)" style="cursor: pointer">Type</th>
                        <th onclick="sort(2)" style="cursor: pointer">Title</th>
                        <th onclick="sort(3)"style="cursor: pointer">Date Added</th>
                        <th onclick="sort(4)"style="cursor: pointer">Date Accessed</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        
                    </thead>
                    <tbody id="itemArea">
                      
                    </tbody>
                  </table>
                </div>
            </div>
            
                 
        </div>
        </div>
    <div class="col-sm-3" style="overflow-x: scroll;  overflow-y: scroll;  height: 90vh">
      <br>
      <h4>Details</h4>
     <table id="detailTable" class="table" style="overflow: none;" >
       <thead>
        <tr>
         <th></th>
         <th></th>
         </tr>

       </thead>

       <tbody id="detailArea" style="overflow: none;">

       </tbody>

     </table>
   
    </div>
  

    
    
</body>


<script type="text/javascript">
  var markers = {{ bookmark_list|safe }}
   var folders ={{folder_list | safe}}
  var bookmark_folder
   var groups = {{group_list | safe}}
    tab = 'all'
    var faction_id
$(document).ready(function($) {
  showRows('all')



  // document.getElementById("folderList_dropdown1").classList.toggle("hide");
  //      $(".clickable-row").click(function() {
  //         window.location = $(this).data("href");
  //     });


        var coll = document.getElementsByClassName("collapsible");

          for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function() {
              this.classList.toggle("active");

              var content = this.closest(".menu-item").nextElementSibling;
              if (content.style.display == "block") {
                content.style.display = "none";
              } else {
                content.style.display = "block";
              }
            });
          }


          // Close the dropdown if the user clicks outside of it
          window.onclick = function(event) {
            if (!event.target.matches('.fa-plus')) {
              var dropdowns = document.getElementsByClassName("dropdown-content");
              
              for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                  openDropdown.classList.remove('show');
                }
              }
            }
          }
      

});

function permanentdelete_item(clicked_id){
  
   
   for(i=0; i< markers.length;i++){
      if(markers[i]['pk'] == clicked_id ){
        markers[i]['fields']['isRemoved'] = 3;
        $.ajax({
                      type:"POST",
                      url:"",

                      data:{
                        action: 'deleteItem',
                        bID: clicked_id,
                        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                      }
        }); 
        break;

      } 
   }
   
   showRows(tab)
  
    
}

function delete_item(clicked_id, i, action_type){
  
   // alert(i+"  "+ action_type)
   
      if(action_type == 1){
        markers[i]['fields']['isRemoved'] = 1;
        a = new Date()
        markers[i]['fields']['date_removed'] = a.toDateString().slice(3,) +"  "+ a.toTimeString().slice(0,13);
        $.ajax({
                      type:"POST",
                      url:"",

                      data:{
                        action: 'trashItem',
                        bID: clicked_id,
                        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                      }
        }); 

      }else{
        markers[i]['fields']['isRemoved'] = 0;
        markers[i]['fields']['date_removed'] =null;
        $.ajax({
                      type:"POST",
                      url:"",

                      data:{
                        action: 'unTrashItem',
                        bID: clicked_id,
                        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                      }
        }); 
      }
      
   
   
   showRows(tab)
  
    
}




function favorite_item(clicked_id){
  // alert(tab)
   
   for(i=0; i< markers.length;i++){
      if(markers[i]['pk'] == clicked_id){
        if(markers[i]['fields']['isFavorite'] == 0){
          markers[i]['fields']['isFavorite'] = 1;  
          // clearRow('itemArea')
          showRows(tab)
          $.ajax({
                      type:"POST",
                      url:"",

                      data:{
                        action: 'addFav',
                        bID: clicked_id,
                        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                      }
        }); 

        } else if(markers[i]['fields']['isFavorite'] == 1){
          markers[i]['fields']['isFavorite'] = 0;  
           showRows(tab)
            $.ajax({
                      type:"POST",
                      url:"",

                      data:{
                        action: 'remFav',
                        bID: clicked_id,
                        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                      }
        }); 
            break;
        }
        
       
      }
   }
  
  
    
}


function showRows(rowType, bookmak_folder_list, faction_id){
  clearRow("detailTable")
  clearStyle();
  clearRow('itemTable');
  // alert(faction_id)
  tab = rowType;
 
    if(rowType == 'all'){

      document.getElementById(rowType).style.backgroundColor= "#c9c9c9";
      document.getElementById(rowType).style.color= "#800000";
      document.getElementById('allIcon').style.color= "#800000";

            for(i=0; i< markers.length;i++){
             

                if( markers[i]['fields']['isRemoved'] == 0 ){
                      date_add= new Date(markers[i]['fields']['dateAdded'])
                      date_acc= new Date(markers[i]['fields']['dateAccessed'])
                      if( markers[i]['fields']['isFavorite'] == 0){
                        favorite ="<td><i id='"+ markers[i]['pk']+"' class='far fa-star' style='cursor: pointer' onclick='favorite_item(this.id)'></i></td>"
                      }else{
                        favorite ="<td><i id='"+ markers[i]['pk']+"' class='fas fa-star' style='cursor: pointer; color:red' onclick='favorite_item(this.id)'></i></td>"
                      }

                      if(markers[i]['fields']['websiteTitle'] == "Springeropen.com"){
                          sitelogo =  "<td><img class='logo-style' src='{% static 'images/springerLogo.PNG' %}' style='height: 15px;'></td>"
                        } else if(markers[i]['fields']['websiteTitle'] == "Sciencedirect.com"){
                          sitelogo =  "<td><img class='logo-style' src='{% static 'images/springerLogo.PNG' %}' style='height: 25px;'></td>"
                        } 
                       $('#itemArea').append(
                        "<tr>"+
                        sitelogo +
                        "<td>"+ markers[i]['fields']['itemType'] +  "</td>"+
                        "<td><a href='"+ markers[i]['fields']['url']+ "' target='_blank'><span style='display:inline-block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis; max-width: 40ch;'>" + markers[i]['fields']['title'] +  "</span></a></td>"+

                        "<td>" + date_add.toDateString().slice(3,)+" "+date_add.toTimeString().slice(0,5) + "</td>" +
                        "<td>" + date_acc.toDateString().slice(3,)+" "+date_acc.toTimeString().slice(0,5) + "</td>" +
                        "<td><i id='"+ markers[i]['pk'] +"' class='fas fa-info-circle fa-lg' style='cursor: pointer' onclick='get_detail(this.id)'></i></td>" +


                         "<td><i  onclick='bookmarkToFolder_dropdown("+ i + ","+ markers[i]['pk']+")' class='fa fa-plus' style='cursor:pointer; font-size: 80%'></i>" +
                         "<div id='folderList_dropdown"+i+"' class='dropdown-content' style='min-width: 15%; margin-left: -8% '>"+
                         "<ul id='add_to_folderList_ul"+i+"'>"+
                     
                              
                          "</ul> </div> </td>" +




                          favorite+
                        "<td><i id='"+ markers[i]['pk']+"' class='fas fa-trash-alt' style='cursor: pointer; font-size: 90%' onclick='delete_item(this.id,"+i+","+1+")'></i></td>" +
                       

                       "</tr>"

                        );  
                }  
                 
            }


    } else if(rowType =='trash'){
      document.getElementById(rowType).style.backgroundColor= "#c9c9c9";
      document.getElementById(rowType).style.color= "#800000";
      document.getElementById('trashIcon').style.color= "#800000";

        for(i=0; i< markers.length;i++){

            if( markers[i]['fields']['isRemoved'] == 1){
              date_acc= new Date(markers[i]['fields']['dateAccessed'])
              if(markers[i]['fields']['websiteTitle'] == "Springeropen.com"){
                          sitelogo =  "<td><img class='logo-style' src='{% static 'images/springerLogo.PNG' %}' style='height: 15px;'></td>"
                        } else if(markers[i]['fields']['websiteTitle'] == "Sciencedirect.com"){
                          sitelogo =  "<td><img class='logo-style' src='{% static 'images/springerLogo.PNG' %}' style='height: 25px;'></td>"
                        } 
                   

              $('#itemArea').append(
                "<tr class='clickable-row' data-href='" + markers[i]['fields']['url'] + "'>" +

                sitelogo+
                "<td>"+ markers[i]['fields']['itemType'] +  "</td>"+
                "<td><a href='"+ markers[i]['fields']['url']+ "' target='_blank'><span style='display:inline-block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis; max-width: 40ch;'>" + markers[i]['fields']['title'] +  "</span></a></td>"+

                "<td>" +  markers[i]['fields']['date_removed'].slice(0,-8).replace('T',' ')  + "</td>" +
               "<td>" + date_acc.toDateString().slice(3,)+" "+date_acc.toTimeString().slice(0,5) + "</td>" +

                "<td><i id='"+ markers[i]['pk']+"' class='fas fa-undo' style='cursor: pointer' onclick='delete_item(this.id,"+i+", "+0+")'></i></td>" +
                "<td><i id='"+ markers[i]['pk']+"' class='fas fa-trash-alt' style='cursor: pointer' onclick='permanentdelete_item(this.id)'></i></td>" +

              
                      

                        



               "</tr>"

                );  
                
              
            }
         
        }

        $.ajax({
                      type:"POST",
                      url:"",

                      data:{
                        action: 'get_folder_trash',
                        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                      }, 
                      success: function(response){
                        array = response.bookmarks
                       
                        for(i=0; i< markers.length;i++){
                            for(ii=0; ii < array.length;ii++){
                              if( markers[i]['pk'] == array[ii].b_ID){
                                  console.log(array[ii].BF_ID+"  "+array[ii].b_ID)
                                      if(markers[i]['fields']['websiteTitle'] == "Springeropen.com"){
                                        sitelogo =  "<td><img class='logo-style' src='{% static 'images/springerLogo.PNG' %}' style='height: 15px;'></td>"
                                      } else if(markers[i]['fields']['websiteTitle'] == "Sciencedirect.com"){
                                        sitelogo =  "<td><img class='logo-style' src='{% static 'images/springerLogo.PNG' %}' style='height: 25px;'></td>"
                                      } 

                                $('#itemArea').append(
                                  "<tr class='clickable-row' data-href='" + markers[i]['fields']['url'] + "'>" +

                                  sitelogo+
                                  "<td>"+ markers[i]['fields']['itemType'] +  "</td>"+
                                  "<td><a href='"+ markers[i]['fields']['url']+ "' target='_blank'><span style='display:inline-block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis; max-width: 40ch;'>" + markers[i]['fields']['title'] +  "</span></a></td>"+

                                  "<td>" +  array[ii].date.slice(0,-7).replace('T',' ') + "</td>" +
                                  "<td>" +  markers[i]['fields']['dateAccessed'].slice(0,-8).replace('T',' ') +"</td>" + 

                                  "<td><i id='"+ array[ii].BF_ID+"' class='fas fa-undo' style='cursor: pointer' onclick='remove_from_faction(this.id,1)'></i></td>" +
                                  "<td><i id='"+ array[ii].BF_ID+"' class='fas fa-trash-alt' style='cursor: pointer' onclick='remove_from_faction(this.id,2)'></i></td>" +

                                 "</tr>"

                                  );  
                              }
                            }
                        }                    
      }
                }); 
    } else if(rowType =='recentlyAdded'){
          document.getElementById(rowType).style.backgroundColor= "#c9c9c9";
          document.getElementById(rowType).style.color= "#800000";
          document.getElementById('recentlyAddedIcon').style.color= "#800000";

           // month is zero based
          now  = new Date;               // no arguments -> current date
          
        
          for(i=0; i< markers.length;i++){
              var then = new Date(markers[i]['fields']['dateAdded']),
              days = Math.round((now - then) / (1000 * 60 * 60 * 24));
                if( markers[i]['fields']['isRemoved'] == 0 & days <= 7){
                   

                        date_add= new Date(markers[i]['fields']['dateAdded'])
                      date_acc= new Date(markers[i]['fields']['dateAccessed'])

                      if( markers[i]['fields']['isFavorite'] == 0){
                        favorite ="<td><i id='"+ markers[i]['pk']+"' class='far fa-star' style='cursor: pointer' onclick='favorite_item(this.id)'></i></td>"
                      }else{
                        favorite ="<td><i id='"+ markers[i]['pk']+"' class='fas fa-star' style='cursor: pointer; color:red' onclick='favorite_item(this.id)'></i></td>"
                      }

                      if(markers[i]['fields']['websiteTitle'] == "Springeropen.com"){
                          sitelogo =  "<td><img class='logo-style' src='{% static 'images/springerLogo.PNG' %}' style='height: 15px;'></td>"
                        } else if(markers[i]['fields']['websiteTitle'] == "Sciencedirect.com"){
                          sitelogo =  "<td><img class='logo-style' src='{% static 'images/springerLogo.PNG' %}' style='height: 25px;'></td>"
                        } 
                       $('#itemArea').append(
                        "<tr>"+
                        sitelogo +
                        "<td>"+ markers[i]['fields']['itemType'] +  "</td>"+
                        "<td><a href='"+ markers[i]['fields']['url']+ "' target='_blank'><span style='display:inline-block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis; max-width: 40ch;'>" + markers[i]['fields']['title'] +  "</span></a></td>"+

                        "<td>" + date_add.toDateString().slice(3,)+" "+date_add.toTimeString().slice(0,5) + "</td>" +
                        "<td>" + date_acc.toDateString().slice(3,)+" "+date_acc.toTimeString().slice(0,5) + "</td>" +
                        "<td><i id='"+ markers[i]['pk'] +"' class='fas fa-info-circle fa-lg' style='cursor: pointer' onclick='get_detail(this.id)'></i></td>" +


                         "<td><i  onclick='bookmarkToFolder_dropdown("+ i + ","+ markers[i]['pk']+")' class='fa fa-plus' style='cursor:pointer; font-size: 80%'></i>" +
                         "<div id='folderList_dropdown"+i+"' class='dropdown-content' style='min-width: 15%; margin-left: -8% '>"+
                         "<ul id='add_to_folderList_ul"+i+"'>"+
                     
                              
                          "</ul> </div> </td>" +




                          favorite +
                        "<td><i id='"+ markers[i]['pk']+"' class='fas fa-trash-alt' style='cursor: pointer; font-size: 90%' onclick='delete_item(this.id)'></i></td>" +
                       

                       "</tr>"

                        );  
                }  
         
          }
    } else if(rowType =='recentlyRead'){
          document.getElementById(rowType).style.backgroundColor= "#c9c9c9";
          document.getElementById(rowType).style.color= "#800000";
          document.getElementById('recentlyReadIcon').style.color= "#800000";
          now  = new Date;
          for(i=0; i< markers.length;i++){
                var then = new Date(markers[i]['fields']['dateAccessed']), // month is zero based
                               // no arguments -> current date
                days = Math.round((now - then) / (1000 * 60 * 60 * 24));
               
                if( markers[i]['fields']['isRemoved'] == 0 & days <= 3){
                      date_add= new Date(markers[i]['fields']['dateAdded'])
                      date_acc= new Date(markers[i]['fields']['dateAccessed'])

                      if( markers[i]['fields']['isFavorite'] == 0){
                        favorite ="<td><i id='"+ markers[i]['pk']+"' class='far fa-star' style='cursor: pointer' onclick='favorite_item(this.id)'></i></td>"
                      }else{
                        favorite ="<td><i id='"+ markers[i]['pk']+"' class='fas fa-star' style='cursor: pointer; color:red' onclick='favorite_item(this.id)'></i></td>"
                      }


                      if(markers[i]['fields']['websiteTitle'] == "Springeropen.com"){
                          sitelogo =  "<td><img class='logo-style' src='{% static 'images/springerLogo.PNG' %}' style='height: 15px;'></td>"
                        } else if(markers[i]['fields']['websiteTitle'] == "Sciencedirect.com"){
                          sitelogo =  "<td><img class='logo-style' src='{% static 'images/springerLogo.PNG' %}' style='height: 25px;'></td>"
                        } 
                       $('#itemArea').append(
                        "<tr>"+
                        sitelogo +
                        "<td>"+ markers[i]['fields']['itemType'] +  "</td>"+
                        "<td><a href='"+ markers[i]['fields']['url']+ "' target='_blank'><span style='display:inline-block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis; max-width: 40ch;'>" + markers[i]['fields']['title'] +  "</span></a></td>"+

                        "<td>" + date_add.toDateString().slice(3,)+" "+date_add.toTimeString().slice(0,5) + "</td>" +
                        "<td>" + date_acc.toDateString().slice(3,)+" "+date_acc.toTimeString().slice(0,5) + "</td>" +
                        "<td><i id='"+ markers[i]['pk'] +"' class='fas fa-info-circle fa-lg' style='cursor: pointer' onclick='get_detail(this.id)'></i></td>" +


                         "<td><i  onclick='bookmarkToFolder_dropdown("+ i + ","+ markers[i]['pk']+")' class='fa fa-plus' style='cursor:pointer; font-size: 80%'></i>" +
                         "<div id='folderList_dropdown"+i+"' class='dropdown-content' style='min-width: 15%; margin-left: -8% '>"+
                         "<ul id='add_to_folderList_ul"+i+"'>"+
                     
                              
                          "</ul> </div> </td>" +




                          favorite+
                        "<td><i id='"+ markers[i]['pk']+"' class='fas fa-trash-alt' style='cursor: pointer; font-size: 90%' onclick='delete_item(this.id)'></i></td>" +
                       

                       "</tr>"

                        );  
                }  
         
          }
    } else if(rowType =='favorite'){
      
          document.getElementById(rowType).style.backgroundColor= "#c9c9c9";
          document.getElementById(rowType).style.color= "#800000";
          document.getElementById('favoriteIcon').style.color= "#800000";
          for(i=0; i< markers.length;i++){
             if(markers[i]['fields']['websiteTitle'] == "Springeropen.com"){
                          sitelogo =  "<td><img class='logo-style' src='{% static 'images/springerLogo.PNG' %}' style='height: 15px;'></td>"
                        } else if(markers[i]['fields']['websiteTitle'] == "Sciencedirect.com"){
                          sitelogo =  "<td><img class='logo-style' src='{% static 'images/science direct.PNG' %}' style='height: 25px;'></td>"
                        } 
            if( markers[i]['fields']['isFavorite'] == 1 & markers[i]['fields']['isRemoved'] == 0){

                    // var dt = new Date( markers[i]['fields']['dateAdded']);
                    // var access = new Date( markers[i]['fields']['dateAccessed']);
                    //       added =  (("0"+dt.getDate()).slice(-2)) +"/"+ (("0"+(dt.getMonth()+1)).slice(-2)) +"/"+ (dt.getFullYear()) +" "+ (("0"+dt.getHours()).slice(-2)) +":"+ (("0"+dt.getMinutes()).slice(-2));

                    //       accessed =  (("0"+access.getDate()).slice(-2)) +"/"+ (("0"+(access.getMonth()+1)).slice(-2)) +"/"+ (access.getFullYear()) +" "+ (("0"+access.getHours()).slice(-2)) +":"+ (("0"+access.getMinutes()).slice(-2));
              $('#itemArea').append(
                "<tr>"+
                sitelogo +
                "<td>"+ markers[i]['fields']['itemType'] +  "</td>"+
                "<td><a href='"+ markers[i]['fields']['url']+ "' target='_blank'> <span style='display:inline-block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis; max-width: 40ch;'>" + markers[i]['fields']['title'] +  "</span></a></td>"+

                "<td>" +  markers[i]['fields']['dateAdded'].slice(0,-8).replace('T',' ') + "</td>" +
                "<td>" +  markers[i]['fields']['dateAccessed'].slice(0,-8).replace('T',' ') +"</td>" + 
               "<td><i id='"+ markers[i]['pk']+"' class='fas fa-info-circle fa-lg' style='cursor: pointer' onclick='get_detail(this.id)'></i></td>" +
                           
                          "<td><i  onclick='bookmarkToFolder_dropdown("+ i + ","+ markers[i]['pk']+")' class='fa fa-plus' style='cursor:pointer; font-size: 80%'></i>" +
                         "<div id='folderList_dropdown"+i+"' class='dropdown-content' style='min-width: 15%; margin-left: -8% '>"+
                         "<ul id='add_to_folderList_ul"+i+"'>"+
                     
                              
                          "</ul> </div> </td>" +

                          "<td><i id='"+ markers[i]['pk']+"' class='fas fa-minus' style='cursor: pointer;color:red' onclick='favorite_item(this.id)'></i></td>" +
                        
                        
                       
                
        
        



               "</tr>"

                );  
            }
         
        }
    } else if(rowType =='folders'){
      for(i=0; i< markers.length;i++){

      for(ii=0;ii < array.length;ii++){
          if(markers[i]['pk'] == array[ii].b_ID){

                if( markers[i]['fields']['isRemoved'] == 0 ){
                    date_add= new Date(markers[i]['fields']['dateAdded'])
                      date_acc= new Date(markers[i]['fields']['dateAccessed'])

                      if( markers[i]['fields']['isFavorite'] == 0){
                        favorite ="<td><i id='"+ markers[i]['pk']+"' class='far fa-star' style='cursor: pointer' onclick='favorite_item(this.id)'></i></td>"
                      }else{
                        favorite ="<td><i id='"+ markers[i]['pk']+"' class='fas fa-star' style='cursor: pointer; color:red' onclick='favorite_item(this.id)'></i></td>"
                      }


                      if(markers[i]['fields']['websiteTitle'] == "Springeropen.com"){
                          sitelogo =  "<td><img class='logo-style' src='{% static 'images/springerLogo.PNG' %}' style='height: 15px;'></td>"
                        } else if(markers[i]['fields']['websiteTitle'] == "Sciencedirect.com"){
                          sitelogo =  "<td><img class='logo-style' src='{% static 'images/science direct.PNG' %}' style='height: 25px;'></td>"
                        } 
                       $('#itemArea').append(
                        "<tr>"+
                        sitelogo +
                        "<td>"+ markers[i]['fields']['itemType'] +  "</td>"+
                        "<td><a href='"+ markers[i]['fields']['url']+ "' target='_blank'><span style='display:inline-block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis; max-width: 40ch;'>" + markers[i]['fields']['title'] +  "</span></a></td>"+

                        "<td>" + date_add.toDateString().slice(3,)+" "+date_add.toTimeString().slice(0,5) + "</td>" +
                        "<td>" + date_acc.toDateString().slice(3,)+" "+date_acc.toTimeString().slice(0,5) + "</td>" +
                        "<td><i id='"+ markers[i]['pk'] +"' class='fas fa-info-circle fa-lg' style='cursor: pointer' onclick='get_detail(this.id)'></i></td>" +


                         "<td><i  onclick='bookmarkToFolder_dropdown("+ i + ","+ markers[i]['pk']+")' class='fa fa-plus' style='cursor:pointer; font-size: 80%'></i>" +
                         "<div id='folderList_dropdown"+i+"' class='dropdown-content' style='min-width: 15%; margin-left: -8% '>"+
                         "<ul id='add_to_folderList_ul"+i+"'>"+
                     
                              
                          "</ul> </div> </td>" +



                          favorite+
                        "<td><i id='"+ markers[i]['pk']+"' class='fas fa-trash-alt' style='cursor: pointer; font-size: 90%' onclick='remove_from_faction("+array[ii].bf_ID+")'></i></td>" +
                       

                       "</tr>"

                        );  
                }  
          }
        
      }
      }
    } else if(rowType =='groups'){
      for(i=0; i< markers.length;i++){

      for(ii=0;ii < array.length;ii++){
          if(markers[i]['pk'] == array[ii].b_ID){

                if( markers[i]['fields']['isRemoved'] == 0){
                  date_add= new Date(markers[i]['fields']['dateAdded'])
                      date_acc= new Date(markers[i]['fields']['dateAccessed'])

                      if( markers[i]['fields']['isFavorite'] == 0){
                        favorite ="<td><i id='"+ markers[i]['pk']+"' class='far fa-star' style='cursor: pointer' onclick='favorite_item(this.id)'></i></td>"
                      }else{
                        favorite ="<td><i id='"+ markers[i]['pk']+"' class='fas fa-star' style='cursor: pointer; color:red' onclick='favorite_item(this.id)'></i></td>"
                      }

                      if(markers[i]['fields']['websiteTitle'] == "Springeropen.com"){
                          sitelogo =  "<td><img class='logo-style' src='{% static 'images/springerLogo.PNG' %}' style='height: 15px;'></td>"
                        } else if(markers[i]['fields']['websiteTitle'] == "Sciencedirect.com"){
                          sitelogo =  "<td><img class='logo-style' src='{% static 'images/science direct.PNG' %}' style='height: 25px;'></td>"
                        } 
                       $('#itemArea').append(
                        "<tr>"+
                        sitelogo +
                        "<td>"+ markers[i]['fields']['itemType'] +  "</td>"+
                        "<td><a href='"+ markers[i]['fields']['url']+ "' target='_blank'><span style='display:inline-block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis; max-width: 40ch;'>" + markers[i]['fields']['title'] +  "</span></a></td>"+

                        "<td>" + date_add.toDateString().slice(3,)+" "+date_add.toTimeString().slice(0,5) + "</td>" +
                        "<td>" + date_acc.toDateString().slice(3,)+" "+date_acc.toTimeString().slice(0,5) + "</td>" +
                        "<td><i id='"+ markers[i]['pk'] +"' class='fas fa-info-circle fa-lg' style='cursor: pointer' onclick='get_detail(this.id)'></i></td>" +


                         "<td><i  onclick='bookmarkToFolder_dropdown("+ i + ","+ markers[i]['pk']+")' class='fa fa-plus' style='cursor:pointer; font-size: 80%'></i>" +
                         "<div id='folderList_dropdown"+i+"' class='dropdown-content' style='min-width: 15%; margin-left: -8% '>"+
                         "<ul id='add_to_folderList_ul"+i+"'>"+
                     
                              
                          "</ul> </div> </td>" +
                          favorite+




                        "<td><i id='"+ markers[i]['pk']+"' class='fas fa-trash-alt' style='cursor: pointer; font-size: 90%' onclick='remove_from_faction("+array[ii].bf_ID+")'></i></td>" +
                       

                       "</tr>"

                        );   
                }  
          }
        
      }
      }
    }


}

function clearRow(tableName){
  var table = document.getElementById(tableName);
    //or use :  var table = document.all.tableid;

    for(var i = table.rows.length - 1; i > 0; i--)
    {
        table.deleteRow(i);
    }

}

function clearStyle(){
  var table = document.getElementsByClassName("menu-item");
    //or use :  var table = document.all.tableid;

    for( i = 0; i < table.length; i++)
    {
        table[i].style.backgroundColor = "#f3f3f3";
          table[i].style.color= "black";
    }
    

    dropdown = document.getElementsByClassName("faction_dropdown");
    for( i = 0; i < dropdown.length; i++)
    {
        dropdown[i].style.backgroundColor = "#f3f3f3";
          dropdown[i].style.color= "black";
    }
    document.getElementById('trashIcon').style.color= "grey";
    document.getElementById('allIcon').style.color= "grey";
    document.getElementById('recentlyAddedIcon').style.color= "grey";
    document.getElementById('recentlyReadIcon').style.color= "grey";
    document.getElementById('favoriteIcon').style.color= "grey";
    // document.getElementById('collections').style.color= "grey";
    // document.getElementById('groups').style.color= "grey";
    // document.getElementById('favoriteIcon').style.color= "grey";
    // document.getElementById('recentAddedIcon').style.color= "grey";
    // document.getElementById('recentReadIcon').style.color= "grey";
}
function get_detail(clicked_id){
    var id = parseInt(clicked_id);
  
    clearRow("detailTable")   

   for(i=0; i< markers.length;i++){
      if(markers[i]['pk'] == id){
          var dt = new Date( markers[i]['fields']['dateAdded']);
          var access = new Date( markers[i]['fields']['dateAccessed']);
           added =  (("0"+dt.getDate()).slice(-2)) +"/"+ (("0"+(dt.getMonth()+1)).slice(-2)) +"/"+ (dt.getFullYear()) +" "+ (("0"+dt.getHours()).slice(-2)) +":"+ (("0"+dt.getMinutes()).slice(-2));

            accessed =  (("0"+access.getDate()).slice(-2)) +"/"+ (("0"+(access.getMonth()+1)).slice(-2)) +"/"+ (access.getFullYear()) +" "+ (("0"+access.getHours()).slice(-2)) +":"+ (("0"+access.getMinutes()).slice(-2));
           markers[i]['fields']['publisher'] = ''
       $('#detailArea').append("<tr ><td style='text-align: right; vertical-align:top'> Website: </td>"+ "<td> <a href='https://"+markers[i]['fields']['websiteTitle']+ "'>"+ markers[i]['fields']['websiteTitle'] +  "</a></td></tr>" );  
       $('#detailArea').append("<tr><td style='text-align: right; vertical-align:top'> Item type: </td>"+ "<td>"+ markers[i]['fields']['itemType'] +  "</td></tr>" );  
       $('#detailArea').append("<tr><td style='text-align: right; vertical-align:top'> URL: </td>"+ "<td><a href='"+markers[i]['fields']['url']+"' target='_blank'>"+ markers[i]['fields']['url'] +  "</td></tr>" );  
       $('#detailArea').append("<tr><td style='text-align: right; vertical-align:top'> Title: </td>"+ "<td>"+ markers[i]['fields']['title'] +  "</td></tr>" );  
       $('#detailArea').append("<tr><td style='text-align: right; vertical-align:top'> Author: </td>"+ "<td>"+ markers[i]['fields']['author'] +  "</td></tr>" );  
       $('#detailArea').append("<tr><td style='text-align: right; vertical-align:top'> Abstract: </td>"+ "<td>"+ markers[i]['fields']['description'] +  "</td></tr>" );  
       $('#detailArea').append("<tr><td style='text-align: right; vertical-align:top'> Collection: </td>"+ "<td>"+ markers[i]['fields']['journalItBelongs'] +  "</td></tr>" );  
       $('#detailArea').append("<tr><td style='text-align: right; vertical-align:top'> Publication Year: </td>"+ "<td>"+ markers[i]['fields']['publicationYear'] +  "</td></tr>" );  
       $('#detailArea').append(
        "<tr><td style='text-align: right; vertical-align:top'> Publisher: </td>"+ "<td>"+ markers[i]['fields']['publisher'] +  "</td></tr>" +
        "<tr><td style='text-align: right; vertical-align:top'> Volume: </td>"+ "<td>"+ markers[i]['fields']['volume'] +  "</td></tr>" +
        "<tr><td style='text-align: right; vertical-align:top'> Edition: </td>"+ "<td>"+ markers[i]['fields']['edition'] +  "</td></tr>" +
        "<tr><td style='text-align: right; vertical-align:top'> Citation: </td>"+ "<td>"+ markers[i]['fields']['numOfCitation'] +  "</td></tr>" +
        "<tr><td style='text-align: right; vertical-align:top'> Downloads: </td>"+ "<td>"+ markers[i]['fields']['numOfDownload'] +  "</td></tr>" +
        "<tr><td style='text-align: right; vertical-align:top'> Pages: </td>"+ "<td>"+ markers[i]['fields']['numOfPages'] +  "</td></tr>" +
        "<tr><td style='text-align: right; vertical-align:top'> DOI: </td>"+ "<td>"+ markers[i]['fields']['DOI'] +  "</td></tr>" +
        "<tr><td style='text-align: right; vertical-align:top'> ISSN: </td>"+ "<td>"+ markers[i]['fields']['ISSN'] +  "</td></tr>" +
        
        "<tr><td style='text-align: right; vertical-align:top'> Date added: </td>"+ "<td>"+ added +  "</td></tr>"+
        "<tr><td style='text-align: right; vertical-align:top'> Date Accessed: </td>"+ "<td>"+ accessed +  "</td></tr>" 



        );  

       break;
      }
  }
  
  
}


function sort(n){
  // alert(n)
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("itemTable");
  switching = true;
  // Set the sorting direction to ascending:
  dir = "asc";
  /* Make a loop that will continue until
  no switching has been done: */
  while (switching) {
    // Start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /* Loop through all table rows (except the
    first, which contains table headers): */
    for (i = 1; i < (rows.length - 1); i++) {
      // Start by saying there should be no switching:
      shouldSwitch = false;
      /* Get the two elements you want to compare,
      one from current row and one from the next: */
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      // alert(rows[i].getElementsByTagName("TD")[1].text)
      /* Check if the two rows should switch place,
      based on the direction, asc or desc: */
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /* If a switch has been marked, make the switch
      and mark that a switch has been done: */
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      // Each time a switch is done, increase this count by 1:
      switchcount ++;
    } else {
      /* If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again. */
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}    

// function addfolder

function bookmarkToFolder_dropdown(clicked_id, bookmark_id) {
  $("#add_to_folderList_ul"+clicked_id).empty();

  var ul = document.getElementById("add_to_folderList_ul"+clicked_id);
     
            var li = document.createElement("li");
            li.appendChild(document.createTextNode("Folders:"));
            li.setAttribute("style", "padding-left:3%;");
            ul.appendChild(li);

            for(i=0;i< folders.length;i++){
              
              var li = document.createElement("li");

              try{
                 li.appendChild(document.createTextNode(folders[i]['fields']['name']));
                 li.setAttribute("id", folders[i]['pk']); // added line
              } catch{
                 li.appendChild(document.createTextNode(folders[i].name));
                 li.setAttribute("id", folders[i].id);
              }
             
              li.setAttribute("style", "padding-left:20%; cursor:pointer"); 
              li.setAttribute("onclick", "submit_add_folder(this.id,"+bookmark_id+")"); 
              ul.appendChild(li);
            }

            if(groups.length >= 1){
              var li = document.createElement("li");
              li.appendChild(document.createTextNode(" "));
              ul.appendChild(li);
              var li = document.createElement("li");
              li.appendChild(document.createTextNode("Groups:"));
              li.setAttribute("style", "padding-left:3%;");
              ul.appendChild(li);

            for(i=0;i< groups.length;i++){
              
              var li = document.createElement("li");
              try{
                li.appendChild(document.createTextNode(groups[i]['fields']['name']));
                li.setAttribute("id", groups[i]['pk']); // added line
              } catch{
                li.appendChild(document.createTextNode(groups[i].name));
                li.setAttribute("id", groups[i].id); // added line
              }
              li.setAttribute("style", "padding-left:20%; cursor:pointer"); 
              li.setAttribute("onclick", "submit_add_folder(this.id,"+bookmark_id+")"); 
              ul.appendChild(li);
            }
          }
      
          
            
        
              
        

      
  document.getElementById("folderList_dropdown"+ clicked_id).classList.toggle("show");
  // alert(clicked_id)
}

function submit_add_folder(folder_id, bookmark_id){

  

  $.ajax({
                      type:"POST",
                      url:"",

                      data:{
                        action: 'add_bookmark_to_folder',
                        bID: bookmark_id,
                        fID: folder_id,
                        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                      }
        }); 
}
function add_folder_button() {
  document.getElementById("dropdown-content_input").classList.toggle("show");
}

function functionCollapse() {
  document.getElementById("folders").classList.toggle("show");
}



function display_dropdown(dropdown_type) {

    
        if(dropdown_type == 'folders' ){

                $("#mycollection_ul").empty();
                var ul = document.getElementById("mycollection_ul");
                    for(i=0;i< folders.length;i++){
                      
                      var li = document.createElement("li");
                      try{
                      li.appendChild(document.createTextNode(folders[i]['fields']['name']));
                      li.setAttribute("id", "folder"+folders[i]['pk']); // added line
                    }catch{
                       li.appendChild(document.createTextNode(folders[i].name));
                      li.setAttribute("id", "folder"+folders[i].id); // added line
                    }
                      li.setAttribute("style", "padding-left:20%;padding-bottom: 3%;padding-top: 3%; cursor:pointer"); 
                      li.setAttribute("onclick", "display_faction_bookmarks(this.id,'folders')"); 
                      li.setAttribute("class", "faction_dropdown"); 
                      ul.appendChild(li);
                    }
         
        } else if(dropdown_type == 'groups'){
         

              $("#mygroup_ul").empty();
              var ul = document.getElementById("mygroup_ul");
                  for(i=0;i< groups.length;i++){
                    
                    var li = document.createElement("li");
                    try{
                      li.appendChild(document.createTextNode(groups[i]['fields']['name']));
                      li.setAttribute("id", "group"+groups[i]['pk']); // added line
                    }catch{
                       li.appendChild(document.createTextNode(groups[i].name));
                      li.setAttribute("id", "group"+groups[i].id); // added line
                    }
                    li.setAttribute("style", "padding-left:20%;padding-bottom: 3%;padding-top: 3%; cursor:pointer"); 
                    li.setAttribute("onclick", "display_faction_bookmarks(this.id,'groups')"); 
                    li.setAttribute("class", "faction_dropdown"); 
                    ul.appendChild(li);
                  }
          } 

   
      
  
  
}


function create_folder(create_type){
  
    


          if(create_type == 'folders'){
            fname = document.getElementById('foldername_input').value
              $.ajax({

                        type:"POST",
                        url:"",

                        data:{
                          action: 'add_folder',
                          name: fname,
                          csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                        },

                        success: function(response){
                           folders = response.folder_list
                          
                           
                        display_dropdown('folders')
                          // alert('add success')
                          
                        }


                    
              }); 
          } else if(create_type == 'groups'){
            gname = document.getElementById('groupname_input').value
              $.ajax({

                        type:"POST",
                        url:"",

                        data:{
                          action: 'add_group',
                          name: gname,
                          csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                        },

                        success: function(response){
                           groups = response.group_list
                          
                           
                        display_dropdown('groups')
                      }

                    
              }); 
          }
}


function display_faction_bookmarks(clicked_id, faction){
  
  if(typeof(clicked_id) == 'string'){
    ID = clicked_id.replace("folder",'').replace('group','')  
  } else{
    ID = clicked_id
  }
  faction_id = ID
    if(faction == 'folders'){
          $.ajax({

                    type:"POST",
                    url:"",

                    data:{
                      action: 'get_folder_bookmarks',
                      fID: ID,
                      
                      csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                    },

                    success: function(response){
                        array = response.bookmarks
                       
                        showRows('folders', array, ID)
                        
                        try{
                            document.getElementById(clicked_id).style.backgroundColor= "#c9c9c9";
                            document.getElementById(clicked_id).style.color= "#800000";
                        } catch{
                            document.getElementById('folder'+clicked_id).style.backgroundColor= "#c9c9c9";
                            document.getElementById('folder'+clicked_id).style.color= "#800000";
                        }
                    }

          }); 
    } else if(faction == 'groups'){
          $.ajax({
                    type:"POST",
                    url:"",

                    data:{
                      action: 'get_group_bookmarks',
                      gID: ID,
                      
                      csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                    },
                    success: function(response){
                        array = response.bookmarks
                        
                         
                        showRows('groups', array, ID)
                        try{
                            document.getElementById(clicked_id).style.backgroundColor= "#c9c9c9";
                            document.getElementById(clicked_id).style.color= "#800000";
                        } catch{
                            document.getElementById('group'+clicked_id).style.backgroundColor= "#c9c9c9";
                            document.getElementById('group'+clicked_id).style.color= "#800000";
                        }
                    }
          }); 
    }
}


function remove_from_faction(bf_ID, action_type){

      

        $.ajax({
                      type:"POST",
                      url:"",

                      data:{
                        action: 'remove_from_faction',
                        action_type: action_type,
                        faction_type: tab,
                        faction_id: bf_ID,
                        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                      }, 

                      success: function(){
                       
                        
                         
                        display_faction_bookmarks(faction_id, tab)
                      }
                      

        }); 
  
   
   showRows(tab)
  
    
}

</script> 


</html>