<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Landing Page</title>
    <link rel="shortcut icon" href="{% static 'images/teralogo.png' %}">
    <link rel="stylesheet" href="{% static 'css/landingpage.css' %}">
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

     <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      
    

   

  </head>
  <body style="background-image: url({% static 'images/bg.png' %}); background-repeat: no-repeat; background-size:cover;">
    <nav>
      <div class="logo"><a href="{% url 'ra:index_view'%}"><img class="logo-style" src="{% static 'images/teralogo.png' %}"></a></div>
      <label for="btn" class="icon">
        <span class=></span>
      </label>
     
      <ul>   
      
      <li id="login">
        <form action = "" method = "POST" autocomplete = "off" enctype="multipart/form-data">
      {% csrf_token %}
      <button type="submit" class="button" name="buttonLogin" id="buttonLogin" style="margin-top: 150%; font-size: 20px;cursor: pointer; "> Login </button>

        <input name="previousPage" value="index_view" hidden>
</form>
      </li>
        <input id="user_id" value="{{user_id}}" hidden name="">

       <li id="myAccount">   

                <label for="btn-2" class="show">My Account <i class="fa fa-user" aria-hidden="true"></i></label>
                <a href="#">My Account <i class="fa fa-user" aria-hidden="true"></i></a>
                
                <ul>
                <li><a href="{% url 'ra:tera_dashboard_view'%}">Collections</a></li>  
                <li><a href="{% url 'ra:tera_account_settings'%}">Change pass</a></li>
                <li>
                  <form  action = "" method = "POST" autocomplete = "off" enctype="multipart/form-data">
                    {% csrf_token %}
                  <button type="submit" class="btn" name="btnLogout">Logout </button>
                  </form>
                </li>
                </ul>
      </li>
      </ul>
  </nav>
  

    {% for x in a %}
      <div>{{x}}</div>
      {% endfor %}
    <div class="content">
      <header>Exclusive Research Assistant</header>
      <p>for Technologians</p>
      <br>
      <div class="search-container">
        <div class="search">
          <form id= "form1" action = "" method = "POST" autocomplete = "off" enctype="multipart/form-data">
            {% csrf_token %}
            <!--<a href="" target="_blank" hidden></a> -->
            <input type="text" name="keyword" placeholder="Search (Keywords, Titles, Authors)" class="input">
            <div class="autocom-box">
          <!-- here list are inserted from javascript -->
            </div>
            <button type="submit" id ="btnSearch" name="btnSearch" class="button"><i class="fa fa-search" aria-hidden="true" style="cursor: pointer;"></i></button>
          </form>
        </div>
      </div>
    </div>

   
<script>
      $('.icon').click(function(){
        $('span').toggleClass("cancel");
      });
</script>

<!--<script  src= "{% static 'js/script.js' %}"></script>
<script  src= "{% static 'js/suggestions.js' %}"></script>-->

  </body>
</html>


<script type="text/javascript">
  



$(document).ready(function() {
           
           
            if(document.getElementById("user_id").value == 0 || document.getElementById("user_id").value == "None"){
                    
                 document.getElementById("myAccount").style.display = "none"
            }else{
              document.getElementById("login").style.display = "none"
             }
          });
            
            
</script>